body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    background-color: rgb(250, 250, 250);
    text-align: justify;
    color: #404040;
}

a:link { text-decoration: none; color: #0057cb }
a:hover { color: #0057cb; text-decoration: underline; }
a:active { color: #000066; }
a:visited { color: #000066; text-decoration: none; }

h1 {
    font-size: x-large;
}

h2 {
    padding: 0px;
    margin: 3px;
	font-size: large;
}

.Bold {
	font-weight: bold;
}

.Verbatim {
	font-weight: bold;
	font-family: "Courier", monospace;
}

.UI {
    font-weight: bold;
    font-family: "Lucida Grande", Arial, sans-serif;
}

div.top-title {
    text-align: center;
	float: left;
    padding: 18px;
	width: 200px;
	border-right: gray 1px solid;
	font-family: Helvetica, Arial;
}
	
.top-contents {
	float: right;
	padding: 18px;
	width: 200px;
	font-family: Helvetica, Arial;
	font-weight: bold;
}

.top-contents ul {
	list-style: none;
}

.top-contents ul li {
	margin-top: 16px;
	margin-bottom: 16px;
}
	
.top-all {
	width: 480px;
	margin-top: 30px;
}
	
.toc-left {
	margin: 6px;
	font-family: Helvetica, Arial;
}

.toc-right {
	margin: 6px;
	font-family: Helvetica, Arial;
}

.Destination {
    margin: 4px;
	font-family: Helvetica, Arial;
}

.Box {
    margin-top: 8px;
    margin-bottom: 8px;
	padding-right: 24px;
	padding-top: 0px !important;
	padding-bottom: 14px;
	background-color: #EEEEEE;
	border: #444444 1px solid;
    #clear: both;
}

div.Pro {
    #border: #666699 1px dashed;
    background: url("../../HelpImages/Pro-Tag.png") top right no-repeat;
    background-color: #EEEEFF;
    padding-bottom: 12px;
}

div.item {
    margin-top: 4px;
    padding-top: 14px;
    margin-left: 9px;
    padding-left: 9px;
    padding-right: 9px;
    #border: 1px black solid;
}

ul.steps {
	list-style-type: square;
}

li.step {
	margin-top: 12px;
	margin-bottom: 12px;
}

img.inline-image {
    vertical-align: middle;
}

img.screenshot {
    border: gray 1px dotted;
}

div.bottom-nav {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    margin-top: 20px;
    padding: 10px;
    background-color: #DDDDDD;
    text-align: center;

}

.bottom-nav a {
    text-decoration: none;
    color: #404040;
    text-shadow: 0px 1px 1px white;
}

span.left-nav {
    text-align: left;
    float: left;
    width: 45%;
    vertical-align: middle;
}

span.right-nav {
    text-align: right;
    float: right;
    width: 45%;
}

.left-nav a {
    text-decoration: none;
    color: #404040;
    text-shadow: 0px 1px 1px white;
}

.right-nav a {
    text-decoration: none;
    color: #404040;
    text-shadow: 0px 1px 1px white;
}

.mid-nav a {
    color: white;
    font-weight: bold;
}
